<nav class="navbar navbar-expand-lg sticky-top navbar-light">
<div class="container-fluid">
  <a class="navbar-brand" href="/">
    <img class="" src="{{ url_for('static', filename='img/bpa-logo.gif') }}" alt="BPA" height="50">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar" aria-controls="navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navigation-bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      
      <li class="nav-item">
        <a href="/attire" class="nav-link">Attire</a>
      </li>
      
      <li class="nav-item">
        <a href="/transportation" class="nav-link">Transportation</a>
      </li>

      <li class="nav-item">
        <a href="/attractions" class="nav-link">Attractions</a>
      </li>

      <li class="nav-item">
        <a href="/maps" class="nav-link">Maps</a>
      </li>
      <li class="nav-item">
        <a href="/food" class="nav-link">Food</a>
      </li>
    </ul>
  </div>
</div>
</nav>