<aside id=social-media>
  <a type="button" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
  <br>
  <a type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
  <br>
  <a type="button" class="btn-floating btn-lg btn-ins"><i class="fa fa-instagram"></i></a>
  <br>
  <a type="button" class="btn-floating btn-lg btn-comm"><i class="fa fa-comments"></i></a>
  <br>
  <a type="button" class="btn-floating btn-lg btn-email"><i class="fa fa-envelope"></i></a>
<aside>