footer{
  background-color: rgb(201, 78, 78);
}

#main-body .content-section{
  background-color: rgb(250, 250, 255);
}

.navbar{
  background-color: rgb(201, 78, 78);
}

ul.vertical-nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: navy;
}

li.nav-item a{
  display: block;
  padding: 8px 16px;
  color: #000000;
  text-decoration: none;
  color: white;
}

li.nav-item a:hover{
  background-color: gold;
  color: black;
}