{% extends "layout.html" %}

{% block body %}
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{url_for('static', filename='img/Smithsonian_outside.jpg') }}" class="img-fluid card-img-top" alt="">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title"><b>Smithsonian Institution Offices </b></h4>
                        <p class="card-text">
                            <b>Description:</b><br>
                            The Smithsonian offers a total of 19 museums, galleries, gardens, and zoo. Each with their own historic topic to provide a viewing pleasure that provide a magnificent viewing pleasure for all.
                        </p>
                    <a href="https://www.si.edu/museums" class="btn btn-info" target="_blank">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{url_for('static', filename='img/Smithsonian_outside.jpg') }}" class="img-fluid rounded-thumbnail card-img-top" alt="">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title"><b>Smithsonian Institution Offices </b></h4>
                        <p class="card-text">
                            <b>Description:</b><br>
                            The Smithsonian offers a total of 19 museums, galleries, gardens, and zoo. Each with their own historic topic to provide a viewing pleasure that provide a magnificent viewing pleasure for all.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kTUhhev-WMmJPG7k93iKodXGWQN8plYI" width="640" height="480"></iframe>
    </div>
</div>
{% endblock %}