{% extends "layout.html" %}

{% block body %}
<br>
<div class="card">
    <div class="row">
        <div class="col-md-5">
            <img src="{{url_for('static', filename='img/Smithsonian_outside.jpg') }}" class="img-fluid card-img-top" alt="">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h4 class="card-title"><b>Smithsonian Institution Offices </b></h4>
                <p class="card-text">
                    <b>Description:</b><br>
                    The Smithsonian offers a total of 19 museums, galleries, gardens, and zoo. Each with their own historic topic to provide a viewing pleasure that provide a magnificent viewing pleasure for all.
                </p>
            </div>
            <a href="https://www.si.edu/museums" class="btn btn-info" target="_blank">More Info</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="card">
        <div class="row">
            <div class="col-md-5">
                <img src="{{url_for("static", filename="img/Smithsonian_outside.jpg") }}" class="img-fluid rounded-thumbnail card-img-top" alt="">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h4 class="card-title"><b>Smithsonian Institution Offices </b></h4>
                    <p class="card-text">
                        <b>Description:</b><br>
                        The Smithsonian offers a total of 19 museums, galleries, gardens, and zoo. Each with their own historic topic to provide a viewing pleasure that provide a magnificent viewing pleasure for all.
                    </p>
                </div>
            </div>
        </div>
    </div>
    

<a href="{{url_for('static', filename='img/Smithsonian_outside.jpg') }}" class="btn btn-primary"> Hi</a>
{% endblock %}