{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>BPA</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam minima sit, quaerat dolor facere dignissimos molestias pariatur incidunt sunt! Cumque ratione soluta veritatis. Officiis a beatae officia eius quae.</p>
    <p>This is some text.</p>
    <a href="/about" class="btn btn-primary"> Learn more here</a>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
</div>
{% endblock body %}

{% block sidebar %}
<h5> Twitter Feed:
  {% for post in posts %}
  
  {% endfor %}
</h5>
{% endblock %}